In [3]:
def my_func(a, b= 5, c =2):
    return 1

In [4]:
my_func(1,2)

1

In [5]:
def my_func(a, b , c):
    print('a = {0}, b = {1}, c={2}'.format(a, b, c))

In [6]:
my_func(1, 2, 3)

a = 1, b = 2, c=3

In [7]:
my_func(1,2)

TypeError: my_func() missing 1 required positional argument: 'c'

In [14]:
def my_func(a = 1, b = 2, c = 4):
    print('a = {0}, b = {1}, c={2}'.format(a, b, c))

In [15]:
my_func(10, 20, 30)

a = 10, b = 20, c=30

In [16]:
my_func(10, 20)

a = 10, b = 20, c=4

In [17]:
my_func(10)

a = 10, b = 2, c=4

In [18]:
my_func()

a = 1, b = 2, c=4

In [19]:
def my_func(a, b = 2, c = 4):
    print('a = {0}, b = {1}, c={2}'.format(a, b, c))

In [23]:
my_func(c = 30, b = 20, a = 10)

a = 10, b = 20, c=30

In [24]:
my_func(10, c = 30, b = 20)

a = 10, b = 20, c=30

In [27]:
my_func(10, c = 30)

a = 10, b = 2, c=30

In [28]:
a = (1,)

In [29]:
a

(1,)

In [30]:
type(a)

tuple

In [31]:
a = ()

In [32]:
type(a)

tuple

In [33]:
a, b = 10, 20

In [37]:
b, a = a, b
print(a, b)

10 20

In [38]:
a, b, c = [1,  'a', 3.14]

In [39]:
print(a)
print(b)
print(c)

1
a
3.14

In [40]:
(a, b, c) = [1, 2, 3]

In [41]:
a
b
c

3

In [42]:
a

1

In [43]:
b

2

In [44]:
c

3

In [45]:
a, b = (1, 2)

In [46]:
a

1

In [47]:
b

2

In [48]:
a, b = 10, 20

In [49]:
a

10

In [50]:
b

20

In [51]:
a, b, c = 10, 'a', 3.14

In [52]:
a

10

In [53]:
b

'a'

In [54]:
c

3.14

In [55]:
a, b, c = 10, {1, 2}, ['a', 'b']

In [56]:
a

10

In [57]:
b

{1, 2}

In [58]:
c

['a', 'b']

In [59]:
a, b = 10, 20

In [60]:
a

10

In [61]:
b

20

In [65]:
a, b = b, a
print(a, b)

10 20

In [68]:
for e in "XYZ":
    print (e)

X
Y
Z

In [69]:
a, b, c = 'XYZ'

In [70]:
a

'X'

In [71]:
b

'Y'

In [72]:
c

'Z'

In [73]:
s = 'XYZ'

In [74]:
s[0]

'X'

In [75]:
s[1]

'Y'

In [76]:
s[2]

'Z'

In [77]:
s = {1, 2, 3}

In [78]:
s[0]

TypeError: 'set' object is not subscriptable

In [79]:
s{0}

SyntaxError: invalid syntax (<ipython-input-79-8b3d2dc3d6d7>, line 1)

In [80]:
s = {'p', 'y', 't', 'h', 'o', 'n'}

In [81]:
print(s)

{'n', 'p', 't', 'y', 'h', 'o'}

In [82]:
for e in s:
    print(e)

n
p
t
y
h
o

In [83]:
a, b, c, d, e, f = s

In [84]:
a

'n'

In [85]:
b

'p'

In [86]:
c

't'

In [87]:
d

'y'

In [88]:
e

'h'

In [89]:
f

'o'

In [115]:
d = {'a': 1, 'b': 2, 'c': 3,'d': 4}

In [116]:
for e in d:
    print(e)

a
b
c
d

In [99]:
a, b, c, d = d

In [100]:
a

'a'

In [101]:
c

'c'

In [102]:
b

'b'

In [103]:
d

'd'

In [104]:
a

'a'

In [105]:
b

'b'

In [106]:
c

'c'

In [107]:
d

'd'

In [110]:
d, a, b, c = d

In [111]:
d

'a'

In [112]:
a

'b'

In [113]:
b

'c'

In [114]:
c

'd'

In [130]:
d = {'a': 1, 'b': 2, 'c': 3,'d': 4}

In [118]:
for e in d.values():
    print(e)

1
2
3
4

In [119]:
a, b, c ,d = d.values()

In [120]:
a

1

In [121]:
b

2

In [122]:
c

3

In [123]:
d

4

In [132]:
for a, b in d.items():
    print('key={0}, value={1}'.format(a, b))

key=a, value=1
key=b, value=2
key=c, value=3
key=d, value=4

In [ ]:
a, b = e