In [1]:
l = [5, 8, 6, 10, 9]

In [4]:
_max = lambda x, y: x if x > y else y

In [6]:
_max(3, 4)

4

In [12]:
def max_sequence(sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = _max(result, x)
    return result

In [8]:
max_sequence(l)

10

In [14]:
_min = lambda a, b: a if a < b else b

In [15]:
def min_sequence(sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = _min(result, x)
    return result

In [16]:
min_sequence(l)

5

In [17]:
_add = lambda a, b: a+b

In [18]:
def add_sequence(sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = _add(result, x)
    return result

In [19]:
add_sequence(l)

38

In [25]:
def _reduce(fn,sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = fn(result, x)
    return result

In [28]:
_reduce(_add,l)

38

In [29]:
11+26+16+33

86

In [30]:
del reduce

In [34]:
_reduce(_max, (1, 2, 3, 4, 5))

5

In [35]:
from functools import reduce

In [36]:
reduce(_max, l)

10

In [37]:
reduce(_min, l)

5

In [38]:
reduce(_add, {1, 2, 3, 4})

10

In [39]:
reduce(_add, 'python')

'python'

In [40]:
min(l)

5

In [41]:
min({1, 2, 3})

1

In [43]:
max(l
   )

10

In [44]:
sum(l)

38

In [45]:
sum('python')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
s = {True, 1, 0, None}

In [47]:
any(s)

True

In [48]:
all(s)

False

In [49]:
s2 = {True, 1, "s"}

In [50]:
all(s2)

True

In [51]:
bool(True) and bool(1) and bool('s')

True

In [52]:
bool(True) and bool(1) and bool(0) and bool(None)

False

In [53]:
any(s)

True

In [54]:
any(s2)

True

In [55]:
s2 = {False, 0, '', None}

In [56]:
any(s2)

False

In [65]:
reduce(lambda x, y: bool(x) or bool(y), s)

True

In [66]:
reduce(lambda a, b: bool(a) or bool(b), s2)

False

In [67]:
l = [5, 8, 6, 10, 9]

In [68]:
reduce(lambda j, i: j*i, l)

21600

In [70]:
reduce(lambda a, b: a*b, range (1, n+1))

NameError: name 'n' is not defined

In [71]:
n = 10

In [72]:
reduce(lambda a, b: a*b, range (1, n+1))

3628800

In [73]:
list(range(1, 5+1))

[1, 2, 3, 4, 5]

In [74]:
reduce(lambda a, b: a*b, range(1, 6))

120

In [77]:
def fact(n):
    return 1 if n < 2 else n * fact(n-1)

In [78]:
fact(5)

120

In [79]:
def fact(n):
    return reduce(lambda a, b: a*b, range (1, n+1))

In [80]:
fact(5)

120

In [82]:
fact(200)

788657867364790503552363213932185062295135977687173263294742533244359449963403342920304284011984623904177212138919638830257642790242637105061926624952829931113462857270763317237396988943922445621451664240254033291864131227428294853277524242407573903240321257405579568660226031904170324062351700858796178922222789623703897374720000000000000000000000000000000000000000000000000

In [83]:
def _reduce(fn,sequence, initial):
    result = initial
    for x in sequence:
        result = fn(result, x)
    return result

In [84]:
_reduce(_add, l, 10)

48

In [85]:
l

[5, 8, 6, 10, 9]

In [86]:
l = [1, 2, 3, 4]

In [87]:
_reduce(_add, l, 10)

20

In [88]:
def my_func(a ,b ,c):
    print(a, b, c)

In [89]:
def fn(b, c):
    return my_func(10, b, c)

In [90]:
fn(20, 30)

10 20 30

In [91]:
f = lambda b, c,: my_func(10, b, c)

In [92]:
f(20, 30)

10 20 30

In [93]:
from functools import partial

In [96]:
f = partial(my_func, 100, 200)

In [98]:
f(30)

100 200 30

In [124]:
def my_func(a, b, *args, k1=1, k2, **kwargs):
    print(a, b, args, k1, k2, kwargs)

In [125]:
def f(b, *args, k2, **kwargs):
    return my_func(10, b, *args, kl='a', k2=k2, **kwargs)

In [128]:
f(20, 30, k1 = 1, k2='dab', k3='')

20 30 (20, 30) 1 dab {'k3': ''}

In [129]:
f = partial(my_func, 20, 30, k2='dab', k3=1)

In [110]:
def pow(base, exponent):
    return base ** exponent

In [112]:
square = partial(pow, exponent =2)

In [113]:
cube = partial(pow, exponent =3)

In [114]:
square(5)

25

In [115]:
cube(2)

8

In [130]:
f()

20 30 () 1 dab {'k3': 1}

In [119]:
square(5, exponent = 3)

125

In [120]:
a = 10

In [121]:
f = partial(my_func, a)

In [122]:
f()

TypeError: my_func() missing 1 required positional argument: 'b'

In [123]:
f(20)

TypeError: my_func() missing 2 required keyword-only arguments: 'k1' and 'k2'