In [1]:
l1 = [1, 2, 3, 4]
l2 = [5, 6]

In [2]:
print(id(l1), l1)
print(id(l2), l2)

2542314809416 [1, 2, 3, 4]
2542315027528 [5, 6]

In [4]:
l1 = l1 + l2
print(id(l1), l1)

2542314844424 [1, 2, 3, 4, 5, 6]

In [5]:
t1 = (1, 2, 3)

In [6]:
l1 + t1

TypeError: can only concatenate list (not "tuple") to list

In [7]:
l1 = [1, 2, 3, 4]
l2 = [5, 6]
print(id(l1), l1)
print(id(l2), l2)

2542314154760 [1, 2, 3, 4]
2542315073480 [5, 6]

In [9]:
l1 += l2
print(id(l1), l1)

2542314154760 [1, 2, 3, 4, 5, 6, 5, 6]

In [13]:
l1 = [1, 2, 3, 4]
t1 = (5, 6)
print(id(l1), l1)
print(id(t1), t1)

2542314844680 [1, 2, 3, 4]
2542314767240 (5, 6)

In [14]:
l1 += t1
print(id(l1), l1)

2542314844680 [1, 2, 3, 4, 5, 6]

In [15]:
l1 += range(7, 11)
print(id(l1), l1)

2542314844680 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
l1 += {100, 'X', 'a'}
print(id(l1), l1)

2542314844680 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 100, 'X']

In [17]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(id(t1), t1)
print(id(t2), t2)

2542314849928 (1, 2, 3)
2542314848728 (4, 5, 6)

In [18]:
t1 += t2
print(id(t1), t1)

2542314864264 (1, 2, 3, 4, 5, 6)

In [19]:
l1 = [1, 2, 3]
print(id(l1), l1)

2542315145800 [1, 2, 3]

In [20]:
l1 = l1 * 2

In [21]:
print(id(l1), l1)

2542314844680 [1, 2, 3, 1, 2, 3]

In [22]:
l1 = [1, 2, 3]
print(id(l1), l1)

2542315141512 [1, 2, 3]

In [23]:
l1 *= 2

In [24]:
print(id(l1), l1)

2542315141512 [1, 2, 3, 1, 2, 3]

In [25]:
t1 = (1, 2, 3)
print(id(t1), t1)

2542314829288 (1, 2, 3)

In [26]:
t1 *= 2
print(id(t1), t1)

2542314864264 (1, 2, 3, 1, 2, 3)

In [27]:
t1 = t1 * 2

In [28]:
print(id(t1), t1)

2542314679464 (1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)