### Mapping and Reducing

Mapping is applying a callable to each element of an iterable

ie map(fn, iterable)

Accumulation is reducating an iterable down to a single value

ie sum(iterable), min(iterable), max(iterable)

or the reduce function

reduce(fn, iterable, [initializer])  
    -> fn is a function of two arguments  
    -> initializer is optional  
    -> applies fn cumulative to elements of iterable

map(fn, iterable) applies fn to every element of iterable, and returns a lazy iterator. The fn must be a callable that requires a single argument

ie map(lambda x: x**2, [1, 2, 3, 4]) -> 1, 4, 9, 16

reduce

Suppose we want to find the sum of all elements in an iterable: l = [1, 2, 3, 4]

sum(l) -> 1 + 2 + 3 + 4 = 10

**or**

reduce(lambda x, y: x + y, l)  
->1  
->1+2 = 3  
->3+3 = 6  
->6+4 = 10

The same concept could be used to find the product of all elements...

reduce(lambda x, y: x * y, l)

We can specify a different start value in the reduction, ie:  
reduce(lambda x, y: x + y, 1, 100) -> 100 + 1 + 2 + 3 + 4 = 110

itertools.*starmap*  
starmap is very similar to map  
-> it unpacks every sub element of the iterable argument, and passes that to the map function  
-> useful for mapping a multi-argument function on an iterable of iterables  

l = [[1,2], [3,4]]
We could do map(lambda item: item[0] * item[1], l) -> 2, 12  
  
We can also use starmap: starmap(operator.mul, l) -> 2, 12

Of course, we could also just use a generator expression to do the same thing:  
(operator.mul(\*item) for item in l)  
butu realise that unpacking is eager!

We can (obviously) use iterables that contain more than just two values

itertools.*accumulate(iterable, fn)* -> lazy iterator  
The accumulate fn is very similar to the reduce function  
But it returns a lazy iterator producing all the intermediate results  
-> reduce will only return the final result  
Also, unlike reduce it does not accept an initializer!  
And the argument order is not the same!

the function is optional, and defaults to addition

Example:  
  
l = [1, 2, 3, 4]  
  
functool.reduce(operator.mul, l)  
->1  
->1\*2 = 2  
->2\*3 = 6  
->6\*4 = 24  
  
itertools.accumulate(l, operator.mul) -> 1, 2, 6, 24

#### Code Examples

In [1]:
maps = map(lambda x: x**2, range(5))

In [2]:
type(maps)

map

In [3]:
iter(maps) is maps

True

In [4]:
'__next__' in dir(maps)

True

In [5]:
list(maps)

[0, 1, 4, 9, 16]

In [6]:
def add(t):
    return t[0] + t[1]

In [7]:
list(map(add, [(0,0), [1, 1], range(2, 4)]))

[0, 2, 5]

In [8]:
def add(x, y):
    return x + y

In [9]:
t = (2, 3)
add(*t)

5

In [10]:
list(map(add, [(0,0), [1, 1], range(2, 4)]))

TypeError: add() missing 1 required positional argument: 'y'

In [12]:
[add(*t) for t in [(0,0), [1, 1], range(2, 4)]]

[0, 2, 5]

In [13]:
from itertools import starmap

In [14]:
list(starmap(add, [(0,0), [1, 1], range(2, 4)]))

[0, 2, 5]

In [15]:
sum([10, 20, 30])

60

In [16]:
sum(range(10, 40, 10))

60

In [17]:
from functools import reduce

In [18]:
reduce(lambda x, y: x*y, [1, 2, 3, 4])

24

In [19]:
reduce(lambda x, y: x*y, [1, 2, 3, 4], 10)

240

In [20]:
def sum_(iterable):
    it = iter(iterable)
    acc = next(it)
    yield acc
    for item in it:
        acc += item
        yield acc

In [21]:
for item in sum_([10, 20, 30]):
    print(item)

10
30
60

In [22]:
def running_reduce(fn, iterable, start=None):
    it = iter(iterable)
    if start is None:
        acc = next(it)
    else:
        acc = start
    yield acc
    
    for item in it:
        acc = fn(acc, item)
        yield acc

In [23]:
list(running_reduce(lambda x, y: x+y, [10, 20, 30]))

[10, 30, 60]

In [24]:
import operator

In [25]:
list(running_reduce(operator.add, [10, 20, 30]))

[10, 30, 60]

In [26]:
list(running_reduce(operator.mul, [1, 2, 3, 4]))

[1, 2, 6, 24]

In [27]:
list(running_reduce(operator.mul, [1, 2, 3, 4], 10))

[10, 10, 20, 60, 240]

In [28]:
from itertools import accumulate

In [29]:
list(accumulate([10, 20, 30]))

[10, 30, 60]

In [30]:
list(accumulate([10, 20, 30], operator.mul))

[10, 200, 6000]

In [31]:
from itertools import chain

In [32]:
list(chain([10], [1, 2, 3, 4]))

[10, 1, 2, 3, 4]

In [34]:
list(accumulate(chain((10,),[10, 20, 30]), operator.mul))

[10, 100, 2000, 60000]

The above code is how to add a start value (because accumulate doesnt support a start value unlike reduce)