In [1]:
squares = []
for i in range(1, 101):
    squares.append(i**2)

In [3]:
squares[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
squares = [i**2 for i in range (1,101)]

In [6]:
squares[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
squares = []
for i in range(1, 101):
    if i % 2 == 0:
        squares.append(i**2)

In [9]:
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [13]:
squares = [i**2 for i in range(1,101) if i%2 == 0]

In [15]:
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [17]:
squares = [i**2
           for i in range(1,101)
           if i % 2 == 0]

In [19]:
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

compiled_code = compile('[i**2 for i in (1, 2, 3)]',
                        filename='string, mode='eval')

In [21]:
compiled_code = compile('[i**2 for i in (1, 2, 3)]', filename='string', mode='eval')

In [22]:
compiled_code

In [23]:
import dis

In [24]:
dis.dis(compiled_code)

  1           0 LOAD_CONST               0 (<code object <listcomp> at 0x00000197A3100030, file "string", line 1>)
              2 LOAD_CONST               1 ('<listcomp>')
              4 MAKE_FUNCTION            0
              6 LOAD_CONST               2 ((1, 2, 3))
              8 GET_ITER
             10 CALL_FUNCTION            1
             12 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x00000197A3100030, file "string", line 1>:
  1           0 BUILD_LIST               0
              2 LOAD_FAST                0 (.0)
        >>    4 FOR_ITER                12 (to 18)
              6 STORE_FAST               1 (i)
              8 LOAD_FAST                1 (i)
             10 LOAD_CONST               0 (2)
             12 BINARY_POWER
             14 LIST_APPEND              2
             16 JUMP_ABSOLUTE            4
        >>   18 RETURN_VALUE

In [26]:
table = []
for i in range(1,11):
    row = []
    for j in range(1,11):
        row.append(i*j)
    table.append(row)

In [27]:
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [28]:
table2 = [
    [i * j for j in range (1,11)]
    for i in range(1,11)
]

In [29]:
table2

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [30]:
'''
1
11
121
1331
14641
'''

'\n1\n11\n121\n1331\n14641\n'

In [31]:
from math import factorial

In [33]:
def combo(n, k):
    return factorial(n) // (factorial(k) * factorial(n-k))

In [34]:
size = 10

In [35]:
pascal = [[combo(n,k) for k in range(n+1)] for n in range (size+1)]

In [36]:
pascal

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1],
 [1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]]

In [37]:
l1 = ['a', 'b', 'c']
l2 = ['x', 'y', 'z']

In [39]:
result = [[i+j for j in range(len(l2))] for i in range(len(l1))]

In [40]:
result

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [41]:
result = []
for s1 in l1:
    for s2 in l2:
        result.append(s1 + s2)

In [42]:
result

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [44]:
result = [ s1 + s2
    for s1 in l1
    for s2 in l2
]

In [45]:
result

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [46]:
result = [ s1 + s2
    for s2 in l2
    for s1 in l1
]

In [47]:

result

['ax', 'bx', 'cx', 'ay', 'by', 'cy', 'az', 'bz', 'cz']

In [48]:
l1 = ['a', 'b', 'c']
l2 = ['b', 'c', 'd']

result = []
for s1 in l1:
    for s2 in l2:
        if s1 != s2:
            result.append(s1+s2)

In [49]:
result

['ab', 'ac', 'ad', 'bc', 'bd', 'cb', 'cd']

In [50]:
result = [s1 + s2 for s1 in l1 for s2 in l2 if s1 != s2]

In [51]:
result

['ab', 'ac', 'ad', 'bc', 'bd', 'cb', 'cd']

In [52]:
result = [s1 + s2 for s1 in l1 if s1 != 'a' for s2 in l2 if s1 != s2]

In [53]:
result

['bc', 'bd', 'cb', 'cd']

In [54]:
result = [s1 + s2 for s1 in l1 if s1 != 'a' if s1 != s2 for s2 in l2]

UnboundLocalError: local variable 's2' referenced before assignment

In [55]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l2 = ['a', 'b', 'c', 'd']

In [56]:
list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [57]:
list(enumerate(l1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [58]:
list(enumerate(l2))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [60]:
result = []
for index_1, item_1 in enumerate(l1):
    for index_2, item_2 in enumerate(l2):
        if index_1 == index_2:
            result.append((item_1, item_2))

In [61]:
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [62]:
result = [ (item_1, item_2)
          for index_1, item_1 in enumerate(l1)
          for index_2, item_2 in enumerate(l2)
          if index_1 == index_2
         ]

In [63]:
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [64]:
list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [65]:
l = [1, 2, 3]
sum(l)

6

In [67]:
dot = 0
for i in range(len(v1)):
    to += (v1[i] + v2[i])

NameError: name 'v1' is not defined

In [75]:
v1 = (1, 2, 3, 4, 5, 6)
v2 = (10, 20, 30, 40, 50, 60)

In [78]:
dot = 0
for i in range(len(v1)):
    dot += (v1[i] * v2[i])

In [79]:
dot

910

In [81]:
list(zip(v1, v2))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50), (6, 60)]

In [83]:
sum([i*j for i,j in (zip(v1, v2))])

910

In [84]:
number

NameError: name 'number' is not defined

In [85]:
l=[]
for number in range(5):
    l.append(number**2)

In [86]:
l

[0, 1, 4, 9, 16]

In [87]:
number

4

In [88]:
if 'number' in globals():
    del number

In [89]:
number

NameError: name 'number' is not defined

In [90]:
l = [number**2 for number in range(5)]

In [91]:
l

[0, 1, 4, 9, 16]

In [92]:
number

NameError: name 'number' is not defined

In [93]:
'number' in globals()

False

In [94]:
number = 100

In [95]:
l=[]
for number in range(5):
    l.append(number**2)

In [96]:
l

[0, 1, 4, 9, 16]

In [97]:
number

4

In [98]:
number = 100

In [99]:
l = [number**2 for number in range(5)]

In [100]:
number

100

In [102]:
[number*i for i in range(5)]

[0, 100, 200, 300, 400]

In [103]:
number

100

In [104]:
fn_0 = lambda x: x**0
fn_1 = lambda x: x**1
fn_2 = lambda x: x**2
fn_3 = lambda x: x**3

In [105]:
funcs = [lambda x: x**0, lambda x: x**1, lambda x: x**2, lambda x: x**3]

In [107]:
for i in range (4):
    print(funcs[i](10))

1
10
100
1000

In [108]:
if 'i' in globals():
    del i

In [115]:
funcs = []
for i in range(6):
    funcs.append(lambda x: x**i)

In [116]:
funcs

[<function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>]

In [118]:
funcs[0](10)

100000

In [119]:
funcs[2](10)

100000

In [120]:
i = 10

In [121]:
funcs[0](10)

10000000000

In [123]:
def funcs():
    fn = []
    for i in range(6):
        fn.append(lambda x: x**i)
    return fn

In [124]:
f = funcs()

In [125]:
f

[<function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>,
 <function __main__.funcs.<locals>.<lambda>(x)>]

In [126]:
f[0](10)

100000

In [127]:
funcs = [lambda x: x**i for i in range(5)]

In [128]:
funcs[0](10)

10000

In [129]:
from datetime import datetime

In [130]:
datetime.now()

datetime.datetime(2020, 4, 26, 14, 30, 45, 109591)

In [131]:
def log(msg, current_dt=datetime.now()):
    print(msg, current_dt)

In [132]:
log('abc')

abc 2020-04-26 14:31:38.351218

In [133]:
log('cde')

cde 2020-04-26 14:31:38.351218

44

In [136]:
funcs = [lambda x, p=i: x**p for i in range(5)]

In [138]:
funcs[0](10)

1

In [140]:
funcs[1](10)

10