### Sets Update Operations

#### Updating Sets

Sets have no ordering and therefore no indexing

This is unlike lists where you can update elements at a specific index

You can however add and remove elements of a set, which mutates the set

##### list analogy

In [4]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1 + l2 # new list

[1, 2, 3, 4, 5, 6]

But,

In [5]:
l1 += l2 # mutates l1
l1

[1, 2, 3, 4, 5, 6]

#### Analogous Set Mutating Updates

We have the following operations which will mutate the left hand side:

In [ ]:
|=
&=
-=
^=

We also have methods for this:
- s1 |= s2 or s1.update(s2)
- s1 &= s2 or s1.intersection_update(s2)
- s1 -= s2 or s1.difference_update(s2)
- s1 ^= s2 or s1.symmetric_difference_update(s2)

Just like the other methods, the arguments can be iterables too

We can also pass in multiple arguments...

s1.update(s2, s3) is the same as s1 |= s2 | s2

The union of s2 and s3 is done first, then that is unioned to s1

s1.intersection_update(s2, s3) is the same as s1 &= s2 & s3

**BEWARE!**

s1.difference_update(s2, s3) is not the same as s1 -= s2 - s3

Set differences are not associative

In [8]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
s3 = {3, 4}

In [9]:
s1.difference_update(s2, s3)
s1

{1}

In [10]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
s3 = {3, 4}

In [11]:
s1 -= s2 - s3
s1

{1, 3, 4}

This is because for the second scenario, the right hand side is evaluated first (a theme of Python)

#### Code Examples

In [12]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [13]:
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 2627312252968
{2, 3, 4} 2627312254536

In [14]:
s1 = s1 & s2

In [15]:
print(s1, id(s1))

{2, 3} 2627312254088

In [16]:
globals()['s1']

{2, 3}

In [17]:
id(globals()['s1'])

2627312254088

In [18]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [19]:
print(id(s1))
s1 |= s2
print(s1, id(s1))

2627312252968
{1, 2, 3, 4} 2627312252968

In [20]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(id(s1))
s1.update(s2)
print(s1, id(s1))

2627312254536
{1, 2, 3, 4} 2627312254536

In [21]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(id(s1))
s1 &= s2
print(s1, id(s1))

2627312252520
{2, 3} 2627312252520

In [22]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(id(s1))
s1.intersection_update(s2)
print(s1, id(s1))

2627312253416
{2, 3} 2627312253416

In [23]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
print(id(s1))
s1 -= s2
print(s1, id(s1))

2627312252968
{1, 4} 2627312252968

In [24]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(id(s1))
s1.difference_update(s2)
print(s1, id(s1))

2627312252520
{1} 2627312252520

In [25]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
s3 = {3, 4}

result = (s1 - s2) -s3
print(result)

s1 -= s2 - s3
print(s1)

{1}
{1, 3, 4}

In [27]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
s3 = {3, 4}

result = s1 - (s2 -s3)
print(result)

s1 -= s2 - s3
print(s1)

s1 = {1, 2, 3, 4}
s2 = {2, 3}
s3 = {3, 4}

s1.difference_update(s2, s3)
print(s1)

{1, 3, 4}
{1, 3, 4}
{1}

In [28]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
s1 ^ s2

{1, 2, 3, 6, 7}

In [29]:
print(id(s1))
s1 ^= s2
print(id(s1), s1)

2627312254536
2627312254536 {1, 2, 3, 6, 7}

In [30]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}

print(id(s1))
s1 |= s2 | s2
print(id(s1), s1)

2627312253416
2627312253416 {1, 2, 3, 4, 5}

In [31]:
s1 = {1, 2, 3}
s1.update([3, 4, 5], (6, 7, 8), 'abc')

In [32]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [33]:
s1 = {1, 2, 3}
s1 |= set([3, 4, 5]) | set((6, 7, 8)) | set('abc')

In [34]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [35]:
def combine (string, target):
    target.update(string.split(' '))

In [36]:
def cleanup(combined):
    words = {'the', 'and', 'a', 'or', 'is', 'of'}
    combined -= words

In [37]:
result = set()
combine('lumberjacks sleep all night', result)
combine('the ministry of silly walks', result)
combine('this parrot is a late parrot', result)
cleanup(result)
print(result)

{'late', 'sleep', 'night', 'lumberjacks', 'this', 'all', 'walks', 'parrot', 'silly', 'ministry'}

In [38]:
def gen_read_data():
    yield ['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']
    yield ['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']
    yield ['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [39]:
data = gen_read_data()

In [40]:
next(data)

['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']

In [41]:
next(data)

['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']

In [42]:
next(data)

['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [43]:
next(data)

StopIteration:

In [44]:
def filter_incoming(*cities, data_set):
    data_set.difference_update(cities)

In [46]:
result = set()
data = gen_read_data()
for page in data:
    result.update(page)
    filter_incoming('Paris', 'London', data_set=result)
print(result)

{'Cairo', 'New York', 'Milan', 'Phoenix', 'Stockholm', 'Hyderabad', 'Berlin', 'San Francisco', 'Beijing', 'Mumbai', 'Madrid', 'Barcelona'}