### Installing the required libraries

In [ ]:
#pip install beautifulsoup4
#pip install lxml
#pip install requests

### Importing the required libraries
re is used to clean the str data, with the .split() method it was found challenging and time consuming to remove '\r' and '\n' strings from scraped data (when appending to the .csv file).

In [24]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd
import re

### Setting the required variables
Also, creating the soup object from which the table data is to be parsed

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')
article = soup.find('body')
table = article.find('table', class_='wikitable sortable').tbody

### Creating a .csv file, iterating through the soup table object and parsing data, appending the data, and closing the .csv file

In [34]:
#Creates .csv file
csv_file = open('toronto_data.csv', 'w')
csv_writer = csv.writer(csv_file)
csv_writer.writerow(['PostalCode','Borough', 'Neighborhood'])

#Iterates through table to extract, parse, and append data
for row in table.find_all('tr'):
    table_row = row

    list = []
    
    for cell in row.find_all('td'):
        table_cell = re.sub(r'(\r+|\n)', '', cell.text)
        list.append(table_cell)
    
    csv_writer.writerow(list)

#Closes the csv file
csv_file.close()

### Taking a look at the raw data prior to processing / cleaning

In [35]:
raw_dataset = pd.read_csv('toronto_data.csv')
raw_dataset.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned                        NaN
1        M2A      Not assigned                        NaN
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

### Filtering the out raw data where Borough is not assigned as instructed

In [71]:
# Get names of indexes for which Borough = 'Not assigned'
indexNames = raw_dataset[raw_dataset['Borough'] == 'Not assigned' ].index

# Delete these row indexes from dataFrame
raw_dataset.drop(indexNames , inplace=True)

#Quick inspection
raw_dataset.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Looks good!

### And, setting not assigned neighborhoods to the borough value
...upon inspection it was found that no neighborhoods were set to "not assigned", a few had NaN values, however, all of these were attributed to observations where the Borough was not assigned. As such, they were filtered out, and this task is done.

### Reseting index and printing shape of df

In [79]:
raw_dataset.reset_index(drop=True, inplace=True)
print(f'The raw data set is of dimensions {raw_dataset.shape}')

The raw data set is of dimensions (103, 3)

In [80]:
# Check that index is good
raw_dataset.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government